<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="    
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://www.springframework.org/schema/context     
        http://www.springframework.org/schema/context/spring-context.xsd    
        http://www.springframework.org/schema/mvc     
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd 
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<context:component-scan base-package="com.rick" />
	 
    <mvc:annotation-driven>
<!-- 		 <mvc:message-converters register-defaults="true">   -->
<!-- 		 </mvc:message-converters> -->
	</mvc:annotation-driven>
	

	<!-- 静态资源(js/image)的访问 -->
	<mvc:resources location="classpath:resource/i18n/client/" mapping="/resource/i18n/**" />
	<mvc:resources location="/resources/js/" mapping="/resources/js/**" />
	<mvc:resources location="/resources/css/" mapping="/resources/css/**" />
	<mvc:resources location="/resources/images/" mapping="/images/**" />
	<mvc:resources location="/resources/fonts/" mapping="/resources/fonts/**" />
	<mvc:resources location="/resources/WEB-INF/uploadfiles/" mapping="/uploadfiles/**" />
	<mvc:resources location="/resources/plugin/" mapping="/resources/plugin/**" />
	
	<mvc:resources location="/easyui/" mapping="easyui/**" />
	<mvc:resources location="/WEB-INF/error/" mapping="/error/**" />
	
	

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
 
	
</beans>